<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bit.taskservice.core.mapper.TaskLogMapper">

    <resultMap id="TaskLogResultMap" type="cn.bit.pojo.po.TaskLogPO">
        <id property="logId" column="id"/>
        <result property="taskId" column="task_id"/>
        <result property="startTime" column="start_time"/>
        <result property="executeTime" column="execute_time"/>
        <result property="result" column="result"/>
        <result property="message" column="message"/>
        <result property="exceptionInfo" column="exception_info"/>
    </resultMap>

    <insert id="insert" parameterType="cn.bit.pojo.po.TaskLogPO">
        INSERT INTO task_log(log_id,task_id, start_time, execute_time, result, message, exception_info)
        VALUES (#{logId}, #{taskId}, #{startTime}, #{executeTime}, #{result}, #{message}, #{exceptionInfo})
    </insert>

    <select id="selectByTaskId" resultMap="TaskLogResultMap">
        SELECT * FROM task_log WHERE task_id = #{taskId}
    </select>
</mapper>
