<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bit.task.core.mapper.TaskMapper">
    <resultMap id="TaskResultMap" type="cn.bit.pojo.po.TaskPO">
        <result property="taskId" column="task_id"/>
        <result property="taskName" column="task_name"/>
        <result property="taskGroup" column="task_group"/>
        <result property="type" column="type"/>
        <result property="beanName" column="bean_name"/>
        <result property="className" column="class_name"/>
        <result property="path" column="path"/>
        <result property="methodName" column="method_name"/>
        <result property="params" column="params"/>
        <result property="cronExpression" column="cron_expression"/>
        <result property="description" column="description"/>
        <result property="status" column="status"/>
        <result property="result" column="result"/>
    </resultMap>
    <insert id="insertTask">
        INSERT INTO task (
            task_id,
            task_name,
            task_group,
            type,
            bean_name,
            class_name,
            path,
            method_name,
            params,
            cron_expression,
            description
        ) VALUES (
                     #{taskPO.taskId},
                     #{taskPO.taskName},
                     #{taskPO.taskGroup},
                     #{taskPO.type},
                     #{taskPO.beanName},
                     #{taskPO.className},
                     #{taskPO.path},
                     #{taskPO.methodName},
                     #{taskPO.params},
                     #{taskPO.cronExpression},
                     #{taskPO.description}
                 )
    </insert>
    <delete id="deleteTask">
        delete from task
        where
            task_name = #{taskPO.taskName} and
            task_group = #{taskPO.taskGroup};
    </delete>


    <select id="selectAllTask" resultMap="TaskResultMap">
        SELECT * FROM task;
    </select>
    <select id="selectTaskByNameAndGroup" resultMap="TaskResultMap">
        select * from task
        where
            task_name = #{name} and
            task_group = #{group}
    </select>

    <update id="updateTaskInfo">
        UPDATE task
        SET
            type = #{taskPO.type},
            bean_name = #{taskPO.beanName},
            class_name = #{taskPO.className},
            path = #{taskPO.path},
            method_name = #{taskPO.methodName},
            params = #{taskPO.params},
            cron_expression = #{taskPO.cronExpression},
            description = #{taskPO.description}
        WHERE
            task_name = #{taskPO.taskName} and
            task_group = #{taskPO.taskGroup};
    </update>
    <update id="updateTaskStatus">
        UPDATE task
        SET
            status = #{taskPO.status}
        WHERE
            task_name = #{taskPO.taskName} and
            task_group = #{taskPO.taskGroup};
    </update>
    <update id="setTaskResult">
        update task
        set
            result = #{taskPO.result}
        where
            task_name = #{taskPO.taskName} and
            task_group = #{taskPO.taskGroup};
    </update>
</mapper>
