<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bit.orderservice.mapper.OrderMapper">
    <resultMap id="orderPO" type="cn.bit.common.pojo.po.OrderPO">
        <result column="create_time" property="createTime"/>
        <result column="seller_id" property="sellerId"/>
        <result column="buyer_id" property="buyerId"/>
        <result column="product_id" property="productId"/>
        <result column="get_location" property="getLocation"/>
    </resultMap>

    <select id="getOrderPOById" resultMap="orderPO">
        select * from tb_order where id=#{id}
    </select>
</mapper>
